#contact{
    /* background-image: url("../img/bg-vgtu-1.png"); */
    /* height: 50vh; */
    width: 100%;
    color: black;
}

#contact p{
    font-size: 1.7em;
    padding: 0% 5%;
    color: black;
    margin-top: 0%;
}

#contact h1{
    text-align: center;
    font-size: 3.5em;
    padding: 3% ;
    color: #ff0157;
}

#contact h2{
    text-align: center;
    font-size: 2.5em;
    padding: 3%;
    color: #3B4762;
}

#contact ul{
    text-align: center;
    font-size: 1.1em;
    color: #3B4762;
}

#contact table{
    margin: auto;
    text-align: center;
    font-size: 1.1em;
    
}

#contact table th{
    color: #3B4762;
}

#contact img{
    position: relative;
    margin: 0 49%;

}

