#files{
    margin-top: 100px;
    position: relative;
    width: 100%;
}

#files div{
    color: #000;
    margin: auto;
    padding: 29px;
}

#files ul{
    text-decoration: solid;
    
}
#files li{
    text-decoration: solid;
    letter-spacing: 2px;
    font-size: 1.3em;
    text-decoration: none;
    margin: 5px 0px 0px 20%;
}

#files a{
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-decoration: none;
}

#files h1{
    text-align: center;
    font-size: 3.5em;
    padding: 5%;
    color: #ff0157;
}
#files h2{
    text-align: center;
    font-size: 2.5em;
    padding: 3%;
    color: #3B4762;
}
#files span{
    color: #ff0157;
    font-size: 6em;
    z-index: 10;
}



/*table*/
.accordion{
    max-width: 800px;
}
.accordion .contentBx{
    position: relative;
    /* margin: 10px 20px; */
    width: 600px;
}
.accordion .contentBx .label{
    position: relative;
    /* padding: 10px; */
    background-color: #ff0157;
    color: #fff;
    cursor: pointer;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-52%);
    font-size: 1.5em;
    font-weight: 600;
}
.accordion .contentBx.active .label::before{
    content: '-';
}

.accordion .contentBx .contenet{
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx .contenet a{
    text-decoration: none;
    color: #0009;
    cursor: help;
}
.accordion .contentBx .contenet a:hover{
    color: #ff0157;
}
.accordion .contentBx .contenet a:visited{
    /*color: #cc0015;*/
    cursor: help;
}
.accordion .contentBx .label ul{
    list-style-type: circle;
    margin-left: 50px;
    padding: 50px;
}
 
.accordion .contentBx.active .contenet{
    height: 1000px;
    padding: 10px 30px;
 
}
